
.beginning-content {

  padding: $xl-size;

  p {
    display: block;
    margin-top: $m-size;
  }


}

@media (min-width: $mobile-breakpoint) {

  // .link-go {
  //   font-size: $s-size;
  //   margin-top: $quarter;
  // }

  .link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .flex {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .beginning-content--five {
    padding: $l-size;
    h1 {
      font-size: $l-size;
    }
    text-align: center;
    width: 100%;
  }

  .beginning-content--seven {
    width: 100%;
    img {
      max-width: 100%;
    }
  }

  .middle-content {
          margin-top: $m-size;
    h1 {
      font-size: $l-size;
    }
  }

  .jumbotron {
      padding: 10rem 6rem;
  }

}


@media (min-width: $tablet-breakpoint) {

}


@media (min-width: $bg-tablet-breakpoint) {

  .beginning-content--five {
    h1 {
      font-size: $l-size;
    }

    h2 {
      font-size: $l-size;
    }
    p {
      font-size: $font-size-large;
    }
    text-align: center;
    width: 100%;
  }
}

@media (min-width: $desktop-breakpoint) {

  .beginning-content--five {
    h1 {
      font-size: $l-size;
    }

    h2 {
      font-size: $m-size;
    }
    p {
      font-size: $font-size-large;
    }
    text-align: center;
    width: 100%;
  }

  // Used to put normal flow into all desktop sizes
  .desktop--flex {
    // background: orange;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .desktop--flex__legacy--four {
      // background: yellow;
      align-items: center;
      margin-left: 8.666%;
      margin-bottom: 17.333%;
      // padding: $s-size;
      width: 30.667%;
  }

  .desktop--flex__legacy--eight {
      width: 65.333%;
  }

  .legacy__title {
    h1 {
      font-weight: $light;
    }
  }

}
