.middle-content {
  margin: $s-size;
}



.middle-content__content {
  text-align: center;
  padding: $l-size;
}


.middle-content__experience {

  padding: $l-size;
  h2 {
    color: $orange;
  }

  p:first-of-type {
    font-size: $font-size-large;
  }

  p{
    font-size: $font-size-small;
  }
}



// MOBILE STYLES

  @media (min-width: $mobile-breakpoint) {

    .middle-content {
      margin: 0;
      padding: 0;
      h1 {
        font-size: $l-size;
      }
    }

    .middle-content__content {
      font-size: $s-size;
      margin-top: 15rem;
    }

    .middle-content__experience {
      font-size: $l-size;

      h2 {
        color: $orange;
        font-size: $l-size;
      }

      p:first-of-type {
        font-size: $m-size;
      }

      p{
        font-size: $m-size;
      }
      text-align: center;
    }

  }

  @media (min-width: $mobile-breakpoint) {

  }



    @media (min-width: $bg-tablet-breakpoint) {

      .middle-content {
        margin: 0;
        padding: 0;
        h1 {
          font-size: $l-size;
        }
      }

      .middle-content__content {
        font-size: $s-size;
        margin-top: 15rem;
      }

      .middle-content__experience {
        font-size: $l-size;

        h2 {
          color: $orange;
          font-size: $l-size;
        }

        p:first-of-type {
          font-size: $m-size;
        }

        p{
          font-size: $m-size;
        }
        text-align: center;
      }

    }



    @media (min-width: $desktop-breakpoint) {

        // .display--flex is located in BeginningContent.js

        .middle-content {
          margin: 0;
          padding: 0;
          h1 {
            font-size: $l-size;
          }
        }


    }
