html,
body {
  font-family: $Ubuntu;
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

div,
section,
img {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $grey;
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a:hover {
  color: #ea63fe;
  cursor: pointer;
}
