* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

}

body {
  color: $dark-grey;
  font-family: 'ubuntu', Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: pink;
}

h1 {
  font-size: $xl-size;
}

h2 {
  font-size: $m-size;
  font-weight: $medium;
}

p {
  font-size: $m-size;
  font-weight: $light;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

span {
  color: $orange;
}
