// Colors
$dark-grey: #333;
$orange: #e38600;
$dark-blue: #1a272c;
$grey: #222;
$off-white: #f7f7f7;
$light-grey: #e2e2e2;
$navbar-bg: #eaecef;
$purple: #a333c8;
$black: #222;

// Font-Size: 12, 14, 20, 24
$font-size-tiny: 0.75rem;
$font-size-small: 0.875rem;
$font-size-big: 1.25rem;
$font-size-huge: 1.5rem;

// Font-Weight: 300, 600, 900
$font-weight-light: 300;
$font-weight-normal: 600;
$font-weight-dark: 900;

// Font-Family: 'Ubuntu'
$Ubuntu: "Ubuntu";
$Comfortaa: "Comfortaa";
$Dosis: "Dosis";

// Spacing: 2, 5, 10
$spacing-tiny: 0.125rem;
$spacing-small: 0.3125rem;
$spacing-big: 0.625rem;
$spacing-huge: 1rem;
$spacing-gigantic: 1rem;

// Media Queries: 0, 739, 740, 1023, 1024

// Minimum screen size for cell phones.
$Zero: 0;
// Maximum screen size for cell phones or 739px.
$Mobile-Max: 46.19rem;
// Minimum screen size for tablets or 740px.
$Tablet-Min: 46.25rem;
// Maximum screen size for tablets or 1023px.
$Tablet-Max: 63.94rem;
// Minimum screen size for desktop or 1024px.
$Desktop-Min: 64rem;
